@*
  Copyright (c) 2021 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Title: Basic Check for Internet Explorer
  Description: Use the check for interet explorer component around any content that requires a modern web browser.
    It is reccomend you wrap your whole Blazor App in this component to avoid usage by legacy browsers.
    Try opening this address in internet explorer.
*@

<div class="ie-not-supported-container">
    <AeIENotSupported>
        This browser is not IE!
    </AeIENotSupported>
</div>
