@*
    Copyright (c) 2021 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Custom Check for Internet Explorer
    Description: You can pass a custom icon render fragment, as well as custom messages for the title and body of the warning. Note: the toggle/display override is implemented for demo purposes only.
*@
    <div class="ie-not-supported-container">
        <AeIENotSupported Icon="_icon" Title="@_title" Message="@_message" OverrideBrowserCheck="_showMessage">
            This browser is not IE!
        </AeIENotSupported>
    </div>
    <AeButton @onclick="ToggleWarning">Toggle Warning</AeButton>

@code {
    private string _title = "... your still using IE?";
    private string _message = "pssst... it's not 2006 anymore";
    private RenderFragment _icon =@<i class="fad fa-scroll-old fa-10x"></i>;
    private bool _showMessage;

    private void ToggleWarning()
    {
        _showMessage = !_showMessage;
    }
}
