@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Outline
    Description: Creates a table of contents for the page
*@

<a href="#p1">Link 1</a>
<a href="#p2">Link 2</a>
<a href="#p3">Link 3</a>
<a href="#p4">Link 4</a>

<p id="p1">Text 1</p>
<p id="p2">Text 2</p>
<p id="p3">Text 3</p>
<p id="p4">Text 4</p>