@namespace Elemental.Components

@foreach (var link in Links)
{
    if (link.ChildLinks?.Any() == true)
    {
        <li class="ae nav-dropdown" href="javascript:void(0);">
            <AeNavLinkRender Link="link" IsDropdownLabel />
            <div class="ae nav-dropdown-content">
                @foreach (var child in link.ChildLinks)
                {
                    <AeNavLinkRender Link="child" CloseNav="CloseNav" />
                }
            </div>
        </li>
    }
    else
    {
        <li>
            <AeNavLinkRender Link="link"  CloseNav="CloseNav"/>
        </li>
    }
}

@code {
    [Parameter]
    public List<AeNavLink> Links { get; set; }
    [Parameter]
    public EventCallback CloseNav { get; set; }
}
