@page "/navbar"
@inherits DemoPage

<AeFlex Vertical class="navbar-page-container">
    <DemoSection Path="./Samples/Navbar/Examples/SimpleNavbar.razor">
        <div>
            <Elemental.Documentation.Samples.Navbar.Examples.SimpleNavbar />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/DropdownNavbar.razor">
        <div>
            <Elemental.Documentation.Samples.Navbar.Examples.DropdownNavbar />
        </div>
    </DemoSection>
</AeFlex>
