@page "/components/dropdown"
@inherits DemoPage

<DemoSection Path="./Samples/Dropdowns/Examples/Dropdowns.razor">
    <div style="max-width: 400px;">
        <AElemental.Documentation.Samples.Dropdowns.Examples.Dropdowns/>
    </div>
</DemoSection>

@code {

}