@page "/components/dropdown"
@inherits DemoPage

<DemoSection Path="./Samples/Dropdowns/Examples/Dropdowns.razor">
    <div style="max-width: 400px; display: flex; flex-direction: column; gap: 1rem;">
        <AElemental.Documentation.Samples.Dropdowns.Examples.Dropdowns/>
    </div>
</DemoSection>
<DemoSection Path="./Samples/Dropdowns/Examples/DisabledDropdowns.razor">
    <div style="max-width: 400px; display: flex; flex-direction: column; gap: 1rem;">
        <AElemental.Documentation.Samples.Dropdowns.Examples.DisabledDropdowns/>
    </div>
</DemoSection>

@code {

}