@page "/navbar"
@inherits DemoPage

<AeFlex Vertical class="navbar-page-container">
    <DemoSection Path="./Samples/Navbar/Examples/SimpleNavbar.razor">
        <div>
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.SimpleNavbar />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.SimpleNavbar />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/DropdownNavbar.razor">
        <div>
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.DropdownNavbar />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.DropdownNavbar />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/BrandedNavbar.razor">
        <div>
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.BrandedNavbar />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.BrandedNavbar />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/ResponsiveNavbar.razor">
        <div style="max-width: 600px;">
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.ResponsiveNavbar />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.ResponsiveNavbar />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/RightItems.razor">
        <div>
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.RightItems />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.RightItems />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/CustomRender.razor">
        <div>
<<<<<<< HEAD
            <Elemental.Documentation.Samples.Navbar.Examples.CustomRender />
=======
            <Elemental.FormBuilder.Samples.Navbar.Examples.CustomRender />
>>>>>>> origin/FormBuilder
        </div>
    </DemoSection>
</AeFlex>
