@using AElemental.Components.AePageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Outline using references
    Description: Provids a table of contents styled outline of the page using AeAnchorrefs to reference outline elements
*@
<AeOutlineRef>
    <AeAnchorRef Label="Take me to the P tag!">
        <p>This is the p Tag</p>
    </AeAnchorRef>
    <AeAnchorRef Label="Link to the div...">
        <div >This is the div Tag</div>
    </AeAnchorRef>
</AeOutlineRef>
