@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement
@inject NavigationManager NavigationManager


<div class="@_classname" @onclick="HandleClick" @attributes="@InputAttributesWithoutClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public string To { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickEvent { get; set; }

    private string _classname => $"ae button {_inputClass} {(Disabled ? "disabled" : "")}";

    private async Task HandleClick(MouseEventArgs args)
    {
        if (Disabled)
        {
            return;
        }

        if (!string.IsNullOrWhiteSpace(To))
        {
            NavigationManager.NavigateTo(To);
        }
        else
        {
            if (OnClickEvent.HasDelegate)
            {
                await OnClickEvent.InvokeAsync(args);
            }
        }

    }
}