@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement

<div class="@_classname" @attributes="InputAttributesWithoutClass">
    @if (Header != null)
    {
        <div class="ae card-header">
            @Header
        </div>
    }
    @if (ChildContent != null)
    {
        <div class="ae card-content">
            @ChildContent
        </div>
    }
    @if (Footer != null)
    {
        <div class="ae card-footer">
            @Footer
        </div>
    }
</div>

@code {

    [Parameter]
    public RenderFragment Header { get; set; }
    [Parameter]
    public RenderFragment Footer { get; set; }


    private string _classname => $"ae card {_inputClass}";
}