@inherits HtmlElement

<div class="@_classname" @attributes="InputAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Vertical { get; set; }
    private string _classname => $"ae flex {_inputClass} {(Vertical ? "vertical" : "")}";
}
