@*
    Copyright if necessary //todo
*@

@inherits HtmlElement

<ul class="@_classname" @attributes="InputAttributesWithoutClass">
    @foreach (var item in Items)
    {
        <li class="ae list-item">@item</li>

    }
</ul>

@code{
    [Parameter]
    public IEnumerable<string> Items { get; set; }

    private string _classname => $"ae list {_inputClass}";
}