

@inherits HtmlElement

@using Microsoft.AspNetCore.Components.Routing;
@using Elemental.Components.NavbarInternal; 

<div class="@_classname" @attributes="InputAttributesWithoutClass">
    <ul class="ae navlinks">
        @if (Brand != null)
        {
            <li>
                @Brand
            </li>
        }

        <AeNavLinkGroup Links="Links" />
        
        <li style="flex-grow: 1;"></li>
        
        <AeNavLinkGroup Links="RightLinks" />
        
        <li class="ae responsive-icon">
            <a href="javascript:void(0);" class="ae navlink" @onclick="ToggleResponsive">
                <AeTypography>
                    &#9776;
                </AeTypography>
            </a>
        </li>
    </ul>
</div>
@code {
    [Parameter]
    public RenderFragment Brand { get; set; }
    [Parameter]
    public List<AeNavLink> Links { get; set; } = new List<AeNavLink>();
    [Parameter]
    public List<AeNavLink> RightLinks { get; set; } = new List<AeNavLink>();
    [Parameter]
    public bool ForceResponsive { get; set; } = false;

    private string _classname => $"ae navbar {_inputClass} {(_isOpen ? "open" : "")} {(ForceResponsive ? "force-responsive": "" )}";
    private bool _isOpen = false;

    private void ToggleResponsive()
    {
        _isOpen = !_isOpen;
        StateHasChanged();
    }

} 