@*
  Copyright (c) 2020 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement

  <div class="@_classname" @attributes="InputAttributesWithoutClass">
    
  </div>

@code {


  private string _classname => $"ae menu {_inputClass}";
}