@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement
@inject IJSRuntime JSRuntime
@implements IDisposable
@typeparam T



<div class="@_wrapperClassname" @attributes="InputAttributesWithoutClass" ae-id="@_id">
    <span @onclick="SelectClicked">
        @_labelFragment
    </span>
    
    <div class="ae content-wrapper">
        @foreach (var item in Items)
        {
        <div class="ae button-wrapper" style="flex-direction:row">
            @if (_Selected.Contains(item))
            {
                <i class="far fa-check-square" style="width: 1.5rem; float:left; padding:9px 8px;"></i>
            }
            else
            {
                <i class="far fa-square" style="width: 1.5rem; float:left; padding:9px 8px;"></i>
            }
            <div class="ae dropdown-item"  @onclick="() => HandleItemClick(item)">
                @Renderer(item)
            </div>
        </div>
        }
    </div>
</div>

@code {
  //add all selected items to list, and on close invoke them all same way regular dropdown does?
  //maybe change the onclick to new function that toggles visibility but also on clse does some stuff?

  [Parameter]
  public string Label { get; set; }
  [Parameter]
  public RenderFragment LabelRenderFragment { get; set; }
  [Parameter]
  public Action<T> OnChange { get; set; }
  [Parameter]
  public IEnumerable<T> Items { get; set; }
  [Parameter]
  public Func<T, RenderFragment> Renderer { get; set; }

  private string _wrapperClassname => $"ae dropdown-wrapper {_inputClass}";
  private string _id = $"ae-{Guid.NewGuid().ToString()}";
  private bool _open = false;
  private List<T> _Selected = new List<T>();

  private RenderFragment _labelFragment;

  protected override void OnParametersSet()
  {
      if(Renderer is null)
      {
          Renderer = new Func<T, RenderFragment>(item =>
          {
          return @<AeTypography>@item</AeTypography>;
            });
        }

        if(Label != null)
        {
            _labelFragment = @<AeButton>
                                @Label
                                <AeIcon Icon="fas fa-caret-down" />
                            </AeButton>;
      }
      else
      {
          _labelFragment = LabelRenderFragment;
      }
  }

  private void HandleClose()
  {
      foreach (T item in _Selected)
      {
          OnChange?.Invoke(item);
      }
  }

  private void HandleItemClick(T item)
  {
      if (_Selected.Contains(item))
      {
          _Selected.Remove(item);
      }
      else
      {
          _Selected.Add(item);
      }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
      if (firstRender)
      {
          await JSRuntime.InvokeVoidAsync("aedropdown.initialize", _id);
      }
  }

  private void SelectClicked()
  {
      ToggleVisiblity();
      if (_open)
      {
          HandleClose();
          _Selected.Clear();
      }
      _open = !_open;
  }

  private void ToggleVisiblity()
  {
      InvokeAsync(async () =>
      {
          await JSRuntime.InvokeVoidAsync("aedropdown.toggleVisibility", _id);
      });
  }


  public void Dispose()
  {
      InvokeAsync(async () =>
      {
          await JSRuntime.InvokeVoidAsync("aedropdown.dispose", _id);
      });
  }
}