@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement

<div class="@_classname">
    <span class="hover-text">@Text</span>
    @ChildContent
</div>

@code {
  [Parameter] public string Text { get; set; }

  private string _classname => $"ae tooltip {_inputClass}";
}