@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inject NavigationManager NavigationManager


<div class="@_classname" @onclick="HandleNavigation">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public string Classname { get; set; }
    [Parameter]
    public string To { get; set; }
    [Parameter]
    public bool IsDisabled { get; set; } = false;


    private string _classname => $"ae button {Classname} {(IsDisabled ? "disabled" : "")}";

    private void HandleNavigation()
    {
        if (!string.IsNullOrWhiteSpace(To))
        {
            NavigationManager.NavigateTo(To);
        }
    }
}