// Copyright (c) 2020 Apption Corporation
// 
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

<button class="@GetButtonStyle()">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Style ButtonStyle { get; set; }

    private string GetButtonStyle()
    {
        var css = "e button";
        switch (ButtonStyle)
        {
            case Style.Dark:
                return css + " dark";
            default:
                return css;
        }
    }

    public enum Style
    {
        Default,
        Dark
    }
}