@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits HtmlElement
@inject NavigationManager NavigationManager


<div class="@_classname" @onclick="HandleNavigation" @attributes="@InputAttributesWithoutClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public string To { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;

    private string _classname => $"ae button {_inputClass} {(Disabled ? "disabled" : "")}";

    private void HandleNavigation()
    {
        if (!string.IsNullOrWhiteSpace(To) && !Disabled)
        {
            NavigationManager.NavigateTo(To);
        }
    }
}