@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inject NavigationManager NavigationManager


<div class="@GetButtonStyle() @(IsDisabled? "disabled":"")" @onclick="HandleNavigation">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Style ButtonStyle { get; set; }
    [Parameter]
    public string To { get; set; }
    [Parameter]
    public bool IsDisabled { get; set; } = false;

    private void HandleNavigation()
    {
        if (!string.IsNullOrWhiteSpace(To))
        {
            NavigationManager.NavigateTo(To);
        }
    }


    private string GetButtonStyle()
    {
        var css = "ae button";
        switch (ButtonStyle)
        {
            case Style.Light:
                return css + " light";
            case Style.Dark:
                return css + " dark";
            case Style.Blue:
                return css + " blue";
            case Style.Red:
                return css + " red";
            default:
                return css;
        }
    }

    public enum Style
    {
        Default,
        Dark,
        Light,
        Blue,
        Red,
    }
}