@typeparam T

@using Microsoft.AspNetCore.Components.Forms
 
<h3>ModelForm</h3>
@if(Model != null)
{
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @foreach (var prop in typeof(T).GetProperties())
        {
            @if (prop.PropertyType == typeof(string))
            {
                <AePropertyInputText PropertyInfo="prop" Instance="Model"/>
                @*<SwInputText Label="Catalogue" @bind-Value="Form.Catalogue" ValidationFor="validationExpression"*@
            }
        }
    </EditForm>
}


@code {
    [Parameter]
    public T Model { get; set; }

    [Parameter]
    public Action<T> OnValidSubmit { get; set; }

    private void HandleValidSubmit()
    {
        OnValidSubmit?.Invoke(Model);
    }
}

