@page "/buttons"


<div class="component button">
    <div class="title">Buttons</div>
    <div class="showcase">
        <Button>
            Default
        </Button>
        <Button ButtonStyle="Button.Style.Dark">
            Dark
        </Button>
    </div>
    
</div>

