@page "/components/modal"
@inherits DemoPage

<AeFlex Vertical class="modal-page-container">
    <div class="source">
        <div class="title">App.razor</div>
        <pre><code class="language-html">
@(@"
<Router AppAssembly=""..."">
            
</Router>
<AeModal />")
</code></pre>
        <div class="title">Startup.cs</div>
        <pre><code class="language-csharp">
@(@"public void ConfigureServices(IServiceCollection services)
{            
    services.AddScoped<Elemental.Services.UIControlsService>();
}")
</code></pre>
        <div class="title">_Host.cshtml</div>
        <pre><code class="language-html">
@(@"
<script src=""_content/Blazor.Elemental/js/modal-helper.js""></script>
")
</code></pre>
    </div>
    <DemoSection Path="./Samples/Modal/Examples/BasicModal.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.Modal.Examples.BasicModal />
        </AeFlex>
    </DemoSection>
    <DemoSection Path="./Samples/Modal/Examples/CustomizeModal.razor">
        <AeFlex  class="vertical">
            <Elemental.Documentation.Samples.Modal.Examples.CustomizeModal />
        </AeFlex>
    </DemoSection>
    <DemoSection Path="./Samples/Modal/Examples/AdvanceModal.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.Modal.Examples.AdvanceModal />
        </AeFlex>
    </DemoSection>
</AeFlex>

@code {

}
