@page "/components/modal"
@inherits DemoPage

<AeFlex Vertical class="modal-page-container">

    <AeTypography Variant="h2">Setup</AeTypography>
    <AeTypography Variant="p">Before you can use AeModal you'll have to add it below the <code>Router</code> component in your <code>App.razor</code> file</AeTypography>

    <div class="source">
        <pre><code class="language-html">@(@"<Router>
    // contents
</Router>

<AeModal />")</code></pre>
    </div>


    <DemoSection Path="./Samples/Modal/Examples/BasicModal.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.Modal.Examples.BasicModal />
        </AeFlex>
    </DemoSection>
    <DemoSection Path="./Samples/Modal/Examples/CustomizeModal.razor">
        <AeFlex  class="vertical">
            <Elemental.Documentation.Samples.Modal.Examples.CustomizeModal />
        </AeFlex>
    </DemoSection>
    <DemoSection Path="./Samples/Modal/Examples/AdvanceModal.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.Modal.Examples.AdvanceModal />
        </AeFlex>
    </DemoSection>
    <DemoSection Path="./Samples/Modal/Examples/ErrorModal.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.Modal.Examples.ErrorModal />
        </AeFlex>
    </DemoSection>
</AeFlex>

@code {

}
