@inherits HtmlElement
@if(Parent._ActivePage == this)
{
    <div class="@_Classname">@Body</div>    
}
@code {
    [CascadingParameter]
    private AeTab Parent { get; set; }
    [Parameter]
    public bool Disable { get; set; }
    [Parameter]
    public bool Deletable { get; set; }
    [Parameter]
    public RenderFragment Header { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }

    public string _Classname => $"ae tabpage {_inputClass}";

    protected override void OnInitialized()
    {
        Parent.AddTab(this);
    }

    public void RemoveTab()
    {
        Parent.RemoveTab(this);
    }
}
