@*
 Copyright 2020 Apption Corporation
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*@

@inherits HtmlInputElement
@namespace AElemental.Components


<div class="@_classname" @attributes="InputAttributesWithoutClass">
    <div class="ae search-bar">
        <i class="@_searchIconClassname"></i>
        <input class="ae input search" type="text" @bind-value="_inputValue" @bind-value:event="oninput" @onkeyup="HandleKeyUp" placeholder="@Placeholder" />
        <i class="@_clearIconClassname" @onclick="ClearSearch"></i>
    </div>
</div>

@code {

    [Parameter]
    public string SearchIconFAClass { get; set; } = "fas fa-search";
    [Parameter]
    public string ClearIconFAClass { get; set; } = "fas fa-times";

    private string _classname => $"ae search-wrapper {_inputClass}";
    private string _searchIconClassname => $"{SearchIconFAClass} ae search-icon";
    private string _clearIconClassname => $"{ClearIconFAClass} ae clear-icon {(_inputValue?.Length > 0 ? "visible" : "")}";


    private void ClearSearch()
    {
        _inputValue = "";
        OnTimerFire(null, null);
    }
}
