@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Icons
    Description: Standard icons from remixicon.com
*@
<AeTypography>Icons source: <a href="https://remixicon.com/">REMIX ICON</a></AeTypography>
<AeTypography>
    Include the following line to <i>&lt;head&gt;</i>
</AeTypography>
<div class="code-wrapper">
    <pre style="margin: 0"><code class="language-html">
        @(@"<link href=""_content/Apption.Elemental/css/third-party/remixicon.css"" rel=""stylesheet"">")
    </code></pre>
</div>
<AeIcon Icon="admin"></AeIcon>
<AeIcon Icon="settings-3"></AeIcon>
<AeIcon Icon="spam"></AeIcon>
<AeIcon Icon="shield"></AeIcon>