@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@namespace AElemental.Components
<div class="@($"e checkbox {(IsSelected ? "checked" : "")}")">
    <i class="fa fa-check"></i>
</div>
<div class="e text">@Label</div>


@code {
    [Parameter]
    public bool IsSelected { get; set; }
    [Parameter]
    public string Label { get; set; }
}