@namespace Elemental.Components
@inherits HtmlElement

<div class="@_classname" @attributes="InputAttributesWithoutClass">
    <span class="ae section-header" @onclick="() => Parent.ToggleSection(this)">
        @Header
    </span>
    <div class="ae section-body @_collapseBodyClassname">
        @ChildContent
    </div>
</div>

@code {

    [CascadingParameter]
    private AeCollapse Parent { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    private string _showBody => Parent.Sections[this] ? "" : "collapsed";
    private string _collapseBodyClassname => $"ae section-body {_showBody}";
    private string _classname => $"ae collapse-section {_inputClass}";

    protected override void OnInitialized()
    {
        if(Parent == null){
            throw new ArgumentNullException(nameof(Parent), "AeCollapseSection must exist within a AeCollapse component");
        }
        base.OnInitialized();

        Parent.AddSection(this);
    }
}