@namespace AElemental.Components
@inherits HtmlElement

 <div data-floating-menu-container style="position: relative; padding: 3rem; display: flex; flex-direction: column; align-items: center;">
    <bx-tooltip>
      <bx-tooltip-body>
        <p>
          This is some tooltip text. This box shows the maximum amount of text that should appear inside. If more room is needed
          please use a modal instead.
        </p>
        <bx-tooltip-footer> <a href="#" class="bx--link">Learn More</a><bx-btn kind="primary">Create</bx-btn> </bx-tooltip-footer>
      </bx-tooltip-body>
    </bx-tooltip>
  </div>

@code {

    private string? _style;
    private string? _class;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _style = new AeStyleBuilder()
            .AddStyle("position", "relative")
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();

        _class = new AeCssClassBuilder()
            .AddClassFromAttributes(InputAttributes)
            .NullIfEmpty();
    }

}