@*
  Copyright (c) 2020 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Title: Basic Menu
  Description: Basic Menu, will render as many elements horizontaly as can fit. It will hide other elements under the button according to priority
*@

<div style="width:600px;margin:1rem">
    <AeMenu links=@_Links> </AeMenu>
</div>
<div style="width:300px;margin:1rem">
  <AeMenu links=@_Links> </AeMenu>
</div>
<div style="width:150px;margin:1rem">
  <AeMenu links=@_Links> </AeMenu>
</div>


@code {

  List<(string label, string href, int priority)> _Links = new List<(string, string, int)>()
  {
    ("Products", "menu", 1),
    ("Services", "menu", 1),
    ("Company", "menu", 1),
    ("Privacy", "menu", 2),
    ("Resources", "menu", 2),
    ("Contact", "menu", 2),
  };

}