@import 'constants';
@import 'utils';

$sideNavWidth: 250px !default;
$topNavHeight: 64px !default;

$layoutOptions: (
    "display": flex,

    ".ae.side-nav":(
        "width": $sideNavWidth,
        "position": fixed,
        "top": 0,
        "left": 0,
        "height": 100vh,
    ),
    ".ae.content-wrapper":(
        "display": flex,
        "flex-direction": column,
        "flex-grow": 1,
        ".ae.top-nav": (
            "height": $topNavHeight,
        ),
        "&.has-side-nav":(
            "margin-left": $sideNavWidth,
        )
    ),
) !default;


.ae.layout {
    @include set-values($layoutOptions);
}