@import 'constants';
@import 'utils';
@import 'scrollbar';

$sideNavWidth: 300px !default;
$sidenav-shrunk-width: 60px !default;
$sidenav-main-menu-width: 60px !default;

$topNavHeight: 65px !default;
$border-color: $grey-300 !default;
$sidebar-color: #27283d !default;
$item-hover: #3c3d5d !default;

$layoutOptions: (
    "display": flex,

    ".ae.content-wrapper":(
        "display": flex,
        "flex-direction": column,
        "flex-grow": 1,
        "margin-left": $sideNavWidth,
        "transition": margin-left 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
        ".ae.top-nav": (
            "height": $topNavHeight,
            "position": sticky,
            "top": 0,
            "z-index": 10,
        ),
        "&.has-side-nav":(
        ),
    ),
) !default;


$IconColors: (
    "background-color": #46486d,

    "& i": (
        "color": $blue-600,
    ),

    "&.main .sidenav-text": (
        "color": $blue-600,
    ),

    "&.purple": (
        "border-left": 4px solid $purple-600,
        "color": $white,
        "& i": (
            "color": $purple-600,
        ),

        "&.main .sidenav-text": (
            "color": $purple-600,
        )
    ),

   "&.blue":(
        "border-left": 4px solid $blue-600,
        "color": $white,
        "& i": (
            "color": $blue-600,
        ),

        "&.main .sidenav-text" :(
            "color": $blue-600,
        ),
    ),

    "&.orange" :(
        "& i" :(
            "color": $orange-600,
        ),

        "border-left": 4px solid $orange-600,
        "color": $white,
        "&.main .sidenav-text" :(
            "color": $orange-600,
        ),
    ),

    "&.indigo" :(
        "& i" :(
            "color": $indigo-600,
        ),

        "border-left": 4px solid $indigo-600,
        "color": $white,
        "&.main .sidenav-text" :(
            "color": $indigo-600,
        ),
    ),

    "&.yellow" :(
        "& i" :(
            "color": $yellow-600,
        ),

        "border-left": 4px solid $yellow-600,
        "color": $white,
        "&.main .sidenav-text" :(
            "color": $yellow-600,
        ),
    ),

    "&.green" :(
        "& i" :(
            "color": $green-600,
        ),

        "border-left": 4px solid $green-600,
        "color": $white,
       "&.main .sidenav-text" :(
            "color": $green-600,
        ),
    ),

    "&.pink" :(
        "& i" :(
            "color": $pink-600,
        ),

        "border-left": 4px solid $pink-600,
        "color": $white,
        "&.main .sidenav-text" :(
            "color": $pink-600,
        ),
    ),

    "&.red" :(
        "& i" :(
            "color": $red-600,
        ),

        "border-left": 4px solid $red-600,
        "color": $white,
        "&.main .sidenav-text" :(
            "color": $red-600,
        ),
    )
) !default;

$sideNavOptions: (
    "display": flex,
    "flex-direction": column,
    "position": fixed,
    "top": 0,
    "height": 100%,
    "width": $sideNavWidth,
    "overflow-y": hidden,
    "overflow-x": hidden,
    "z-index": 1,
    "background-color": $sidebar-color,

    "border-right": 1px solid $border-color,
    "transition": width 0.5s $cubic-bezier,
    "color": $white,


    ".ae.sidenav-logo": (
        "display": flex,
        "padding": 0.5rem 0 0.5rem 0.3rem,
        "border-bottom": 1px solid $border-color,
        "background-color": $white        
    ),
    ".top": (
        "flex-grow": 1
    ),
    ".bottom": (
        "display": flex,
        "align-items": center,
        "justify-content": space-between    
    ),

    ".ae.sidenav-container": (
        "display": flex,
        "flex-direction": row,
        "height": 100%,
        ".ae.sidenav-main-menu": (
            "display": flex,
            "flex-direction": column,
            "border-right": 3px solid $grey-800,
            "max-width": $sidenav-main-menu-width,
            ".ae.sidenav-group-wrapper": (
                "display": flex,
                "flex-direction": row,

                "& a": (
                    "height": 3rem,
                    "padding": 1.75rem 0.5rem,
                    "&:hover": (
                        "&": $IconColors
                    ),

                    "&.main": (
                        "display": flex,
                        "flex-direction": column,
                        "justify-content": center,

                        ".sidenav-text": (
                            "font-size": 0.7rem,
                            "padding-top": 0.2rem
                        )
                    )
                )
            )
        ),
        ".ae.sidenav-sub-menu": (
            "display": flex,
            "flex-direction": column,
            "overflow-y": auto,
            "overflow-x": hidden,
            "width": 100%,

            ".ae.sidenav-sub-group-wrapper" :(
                "display": none,

                "&.expanded": (
                    "display": flex,
                    "flex-direction": column,
                ),

                ".sidenav-item" :(
                    "height": 1.5rem,
                    "padding": 1.3rem 0.5rem,
                    "font-size": 0.8rem,
                    ".sidenav-text" :(
                        "text-overflow": ellipsis,
                        "white-space": nowrap,
                        "overflow": hidden,
                    ),
                ),

                ".ae.sidenav-sub-group-title" :(
                    "color": $white,
                    "font-size": 1.2rem,
                    "padding": 1rem 1rem,
                    "text-decoration": none,
                ),

                "& i" :(
                    "font-size": 1.25rem,
                ),                
                "&": $scrollbarOptions
            ),
            ".ae.sidenav-sub-sub-group-wrapper": (
                "display": none,

                "&.expanded": (
                    "display": flex,
                    "flex-direction": column,
                ),

                "& i": (
                    "font-size": 1rem,
                    "margin-left": 20px
                )
            )
        ),
        ".ae.sidenav-item": (
            "display": flex,
            "align-items": center,
            "white-space": nowrap,
            "overflow": hidden,
            "transition": background-color 0.4s $cubic-bezier,
            "border-left": 4px solid transparent,
            "box-sizing": border-box,
            "color": inherit,
            "text-decoration": none,
            "&.exact, &.active": (
                "border-left": 4px solid $blue-600,
                "font-weight": bold,

                "& i": (
                    "color": $blue-600
                ),

                "&": $IconColors
            ),

            "&:hover": (
                "background-color": $item-hover,
            ),

            "& .ae.icon": (
                "font-size": 1.2rem,
                "display": flex,
                "justify-content": center,
                "text-align": left,
                "min-width": 40px,
                "color": $white 
            )
        ),
    
    
    ),
    "&.shrunk": (
        "width": $sidenav-shrunk-width,            
    )

) !default;

$topNavOptions: (
    "height": $topNavHeight,
    "display": flex,
    "position": -webkit-sticky,
    "top": 0,
    "align-items": center,
    "z-index": 9999,
    "background-color": $white,
    "border-bottom": 1px solid $grey-300
) !default;

.ae.layout {
    @include set-values($layoutOptions);
}

.ae.sidenav {
    @include set-values($sideNavOptions);
}

.ae.top-nav {
    @include set-values($topNavOptions);
}

