<div id="sidenav">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="/buttons" Match="NavLinkMatch.All">
        Buttons
    </NavLink>
    <NavLink class="nav-link" href="/search" Match="NavLinkMatch.All">
        Searchbar
    </NavLink>
    <NavLink class="nav-link" href="/dropdown" ActiveClass="active" Match="NavLinkMatch.All">
        Dropdown
    </NavLink>
    <NavLink class="nav-link" href="/table" Match="NavLinkMatch.All">
        Table
    </NavLink>
</div>