@*
    Copyright 2020 Apption Corporation
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    
        http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Title: Model Form
    Description: Form is generated from .NET object model. Standard form annotations are used, few others have been added to handle labels, order, etc.
*@

<AeModelForm 
    Model="@_starship" 
    SubmitLabel="Save changes" 
    OnValidSubmit="HandleValidSubmit" 
    OnInvalidSubmit="HandleInvalidSubmit"
    CancelLabel="Cancel" 
    OnCancel="RefreshStarship"  />

<div>@_isValidated</div>
<DebugObject Object="@_starship"/>

@code {

    private Starship _starship;
    private string _isValidated = "...";
    //private bool _isCancelled;

    private async Task CreateStarship()
    {
        _starship = new Starship() { ProductionDate = DateTime.Today, Description = "the best starship", MaximumAccommodation = 5 };
    }

    protected override async Task OnInitializedAsync()
    {
        await CreateStarship();
    }

    private void HandleValidSubmit()
    {
        _isValidated = "Starship is ready to fly";
    }

    private void HandleInvalidSubmit()
    {
        //do something if form is valid
        _isValidated = "Starship is NOT ready to fly";
    }

    private async Task<Starship> RefreshStarship()
    {
        _isValidated = "Cancelling take-off";
        StateHasChanged();
        //await CreateStarship();
        //_isCancelled = false;
        return _starship;
    }
}