@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Spinner
    Description: Spinners
*@

<div style="display:grid;grid-template-columns:repeat(2,auto);column-gap:2rem;grid-row-gap:3rem;">
    <AeSpinner Spinner="Spinner.Type1"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type2"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type3"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type4"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type5"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type6"></AeSpinner>
    <AeSpinner Spinner="Spinner.Type7"></AeSpinner>
</div>