@*
    Copyright 2021 Apption Corporation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace AElemental.Components
@using Microsoft.AspNetCore.Http;
@inherits HtmlElement
@inject IHttpContextAccessor HttpContextAccessor


<div class="@(_classname) @(_browserIsInternetExplorer || OverrideBrowserCheck? "show-message" : "")">
    <div class="ie-not-supported-message-wrapper">
        <div class="ie-not-supported-icon">
            @Icon
        </div>
        <div class="ie-not-supported-title">

            <AeTypography Variant="h2">@Title</AeTypography>
        </div>
        <div class="ie-not-supported-message">@Message</div>
    </div>
    <div class="ie-not-supported-child">
        @ChildContent
    </div>
</div>

@code {
    private string _classname => $"ae ie-not-supported {_inputClass}";

    private bool _browserIsInternetExplorer;

    [Parameter]
    public bool OverrideBrowserCheck { get; set; }

    [Parameter]
    public RenderFragment Icon { get; set; } =@<AeIcon Icon="error-warning" Size="10x"></AeIcon>;

    [Parameter]
    public string Title { get; set; } = "This website requires a modern browser.";

    [Parameter]
    public string Message { get; set; } = "To view this site we recommend using a recent browser such as Chrome, Edge, Firefox, or Safari.";

    protected override void OnInitialized()
    {
            if (!OverrideBrowserCheck && HttpContextAccessor.HttpContext != null && HttpContextAccessor.HttpContext.Request.IsInternetExplorer())
                _browserIsInternetExplorer = true;
    }

}