@page "/outline"
@inherits DemoPage



<AeFlex Vertical>
  <DemoSection Path="./Samples/Outline/Examples/BasicOutline.razor">
          <p>testing</p>
          <Elemental.Documentation.Samples.Outline.Examples.BasicOutline/>
  </DemoSection>
</AeFlex>

<AeFlex Vertical>
    <DemoSection Path="./Samples/Outline/Examples/BasicOutline.razor">
        <Elemental.Documentation.Samples.Outline.Examples.BasicOutline />
    </DemoSection>
    <DemoSection Path="./Samples/Checkbox/Examples/ThreeStateCheckbox.razor">
        <Elemental.Documentation.Samples.Checkbox.Examples.ThreeStateCheckbox />
    </DemoSection>
    <DemoSection Path="./Samples/Checkbox/Examples/CustomIcons.razor">
        <Elemental.Documentation.Samples.Checkbox.Examples.CustomIcons />
    </DemoSection>
</AeFlex>