@namespace AElemental.Components
@inherits HtmlElement


<div class="@_classname" @attributes="@InputAttributesWithoutClass">
    @switch (Spinner)
    {
        case Spinner.Type1:
        case Spinner.Type5:
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            break;
        case Spinner.Type2:
        case Spinner.Type3:
        case Spinner.Type4:
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            break;
        case Spinner.Type6:
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            break;
        case Spinner.Type7:
            <div class="straight"></div>
            <div class="curve"></div>
            <div class="center"></div>
            <div class="inner"></div>
            break;
        default:
            break;
    }
</div>


@code {
    [Parameter]
    public Spinner Spinner { get; set; }

    private string _classname => $"ae spinner {Spinner} {_inputClass}";
}