@import '../../../Styles/colors.scss';

.nav-logo-wrapper {
    display: flex;
    padding: 1rem 1rem 0;
    height: 100%;

    .nav-logo {
        width: 160px;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &:hover {
        background-color: $blue-700;
    }
}