@*
  Copyright (c) 2020 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Title: Three State Checkbox with Custom Icons
  Description: You can pass in optional icon class names to override the default ones. If an icon class name parameter is not passed it the default icon will be displayed
*@
<div>
  <AeCheckbox IsChecked="isChecked" ItemSelected="toggleCheckbox" NullIcon="ri-brackets-line"
              CheckedIcon="ri-braces-line" UncheckedIcon="ri-code-line"/>
</div>


@code {
    private bool? _isChecked = false;

    private bool? isChecked()
    {
        return _isChecked;
    }

    private void toggleCheckbox()
    {
        if (_isChecked == false)
        {
            _isChecked = null;
        }
        else if (_isChecked == null)
        {
            _isChecked = true;
        }
        else
        {
            _isChecked = false;
        }
    }
}