@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: 3-State Checkbox
    Description: A checkbox that has three states true, false, and null. True reporesents a check, null represents a dash, and false is empty. This is used in the Treeview component.
*@
<div>
    <AeCheckbox IsChecked="@IsChecked" IsCheckedChanged="toggleCheckbox" @bind-HasValue="HasValue" />
</div>


@code {
    private bool IsChecked { get; set; }
    private bool HasValue { get; set; }
  
    private void toggleCheckbox(bool value)
    {
        if (!HasValue)
        {
            HasValue = !HasValue;
            IsChecked = true;
        }
        else  if (value == true)
        {
            IsChecked = false;
            HasValue = false;
        } else
        {
            IsChecked = value;
        }
    }
}