@using Elemental.Components.PageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Outline
    Description: Provids a table of contents styled outline of the page
*@
<AeOutline>
    <AeOutlineAnchor Href="#p7">  Link 7 </AeOutlineAnchor>
    <AeOutlineAnchor Href="#p8">  Link 8 </AeOutlineAnchor>
    <AeOutlineAnchor Href="#p9">  Link 9 </AeOutlineAnchor>
    <AeOutlineAnchor Href="#p10"> Link 10</AeOutlineAnchor>
</AeOutline>    

@foreach(var value in Enumerable.Range(1, 25)) // Creates spaces to show anchor navigation properly
{
    <br>
    if(value > 6 && value <= 10) //creates the p tags to jump to
    {
        <p id="p@(value)">Text @value</p>
    }
}



