@using Elemental.Components.AePageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Fragment Routing
    Description: Blazor does not natively support routing to fragments, by placing this component on a page it allows for routing to specific elements
*@

<a href="#p1">Link to Text 1</a>
<a href="#p2">Link to Text 2</a>
<a href="#p3">Link to Text 3</a>

@foreach (int value in Enumerable.Range(1, 3)) //Places text with Ids P1...P4
{
    <p id="p@(value)">Text @value</p>
    @foreach (int range in Enumerable.Range(1, 3)) // Adds spacing between <p> tags
    {
        <br> 
    }
}
<AeFragmentRouting></AeFragmentRouting>