@using Elemental.Components.PageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Outline
    Description: Provids a table of contents styled outline of the page
*@
<span style="border: 2px dashed green">
    <AeOutlineId Anchors="_Anchors"/>
</span>
<div id="divtag">test 2</div>
<p id="ptag" >test1</p>
<AeTypography id="aetag"></AeTypography>



@code{
    private List<(string Id, RenderFragment ChildContent)> _Anchors;
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _Anchors = new List<(string Id, RenderFragment ChildContent)>()
            {
                ("divtag", @<div>Div</div>),
                ("ptag", @<div>P</div>),
            };
            StateHasChanged();
        }
    }
}
