@using Elemental.Components.PageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Id Based Outline
    Description: Provids a table of contents styled outline of the page using a list of ids and renderfragments
*@
<AeOutlineId Anchors="_Anchors"/>
<div id="divtag">Wow another div...</div>
<p id="ptag">A p tag</p>

@code {
    private List<(string Id, RenderFragment ChildContent)> _Anchors;
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _Anchors = new List<(string Id, RenderFragment ChildContent)>()
            {
                ("divtag", @<AeTypography Variant="a">free ride to that div</AeTypography>),
                ("ptag", @<AeTypography Variant="a">Ill take you to the p tag</AeTypography>),
            };
            StateHasChanged();
        }
    }
}
