@using Elemental.Components.PageOutline
@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Outline
    Description: Provids a table of contents styled outline of the page
*@
<span style="border: 2px solid blue">
    <AeOutlineRef Anchors="_Anchors"/>
</span>
<p @ref="p" >test1</p>
<div @ref="div">test 2</div>


@code{
    private List<(ElementReference Reference, RenderFragment ChildContent)> _Anchors;
    private ElementReference div;
    private ElementReference p;
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _Anchors = new List<(ElementReference Reference, RenderFragment ChildContent)>()
            {
                (div, @<div>Div</div>),
                (p, @<div>P</div>),
            };
            StateHasChanged();
        }

    }
}
