@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits LayoutComponentBase
@using AElemental.Code

@* <AeLayout Links="_navLinks"> *@
@*     <Brand> *@
@*         <AeFlex> *@
@*             <img src="/_content/AElemental.Documentation/img/AElemental_128x128.png" style="max-height: 50px; padding-right:4px;" /> *@
@*             <AeTypography Variant="h2">AElemental</AeTypography> *@
@*         </AeFlex> *@
@*     </Brand> *@
@*     <Body> *@
@*         <AeTypography Variant="h1" style="text-align: center;">AElemental</AeTypography> *@
@*         <AeFlex Vertical style="width: 840px; padding: 0rem 2rem 5rem; margin: auto;"> *@
@*             @Body *@
@*         </AeFlex> *@
@*     </Body> *@
@* </AeLayout> *@

<AeLayout SideNavLinks="_sideNavLinks" TopNavLinks="_topNavLinks">
    <TopBar>
        <AeTopNav Links="_topNavLinks" AriaLabel="AElemental">
            <Brand>
                <img style="height: 100%;" src="/_content/AElemental.Documentation/img/AElemental_128x128.png" alt="AElemental Logo"/>
            </Brand>
        </AeTopNav>
    </TopBar>
    <SideBar>
        <AeSideNav Links="_sideNavLinks" />
    </SideBar>
    <ChildContent>
        @Body
    </ChildContent>
</AeLayout>

@code {

    private readonly List<AeLayoutNavLink> _sideNavLinks = new()
    {
        new AeLayoutNavLink
        {
            Name = "Getting Started",
            Url = "/getting-started",
            Icon = "terminal-box"
        },
        new AeLayoutNavLink
        {
            Name = "Components",
            Url = "/components",
            Icon = "stack",
            SubLinks = new List<AeLayoutNavLink>
            {
                new()
                {
                    Name = "Button",
                    Url = "/components/button",
                },
                new()
                {
                    Name = "Checkbox",
                    Url = "/components/checkbox",
                },
                new()
                {
                    Name = "Code Snippet",
                    Url = "/components/code-snippet",
                },
                new()
                {
                    Name = "Typography",
                    Url = "/components/typography",
                },
                new()
                {
                    Name = "Menu",
                    Url = "components/menu",
                },
                new()
                {
                    Name = "Select",
                    Url = "components/select",
                },
                new ()
                {
                    Name = "Icon",
                    Url = "components/icon"
                },
                new ()
                {
                    Name = "Progress",
                    Url = "components/progress"
                },
                new ()
                {
                    Name = "Tooltip",
                    Url = "components/tooltip"
                }
            }.OrderBy(i => i.Name)
        },
        new AeLayoutNavLink
        {
            Name = "Layouts",
            Url = "/layouts",
            Icon = "layout-3",
            SubLinks = new List<AeLayoutNavLink>
            {
                new ()
                {
                    Name = "Grid",
                    Url = "/layouts/grid"
                },
                new ()
                {
                    Name = "Paper",
                    Url = "/layouts/paper"
                },
                new ()
                {
                    Name = "Layout",
                    Url = "/layouts/layout"
                },
                new ()
                {
                    Name = "Stepper",
                    Url = "/layouts/stepper"
                }
            }.OrderBy(i => i.Name)
        },
        new AeLayoutNavLink
        {
            Name = "Forms",
            Url = "/forms",
            Icon = "article",
            SubLinks = new List<AeLayoutNavLink>
            {
                new ()
                {
                    Name = "Model Form",
                    Url = "/form/model-form"
                },
                new ()
                {
                    Name = "Input",
                    Url = "/form/input"
                }
            }
        },
        new AeLayoutNavLink()
        {
            Name = "Table",
            Url = "/table",
            Icon = "table",
            SubLinks = new List<AeLayoutNavLink>
            {
                new ()
                {
                    Name = "Default",
                    Url = "/table/default"
                },
                new ()
                {
                    Name = "Expandable",
                    Url = "/table/expandable"
                },
                new ()
                {
                    Name = "Sortable",
                    Url = "/table/sortable"
                },
                new ()
                {
                    Name = "Paginated",
                    Url = "/table/paginated"
                }
            }
        }
    };

    private readonly List<AeLayoutNavLink> _topNavLinks = new()
    {
        new AeLayoutNavLink
        {
            Name = "Github",
            Url = "https://github.com/apption-oscode/elemental-blazor",
        },
        new AeLayoutNavLink
        {
            Name = "About Us",
            SubLinks = new List<AeLayoutNavLink>
            {
                new()
                {
                    Name = "Dev Blog",
                    Url = "https://devblog.apption.com",
                },
                new()
                {
                    Name = "Datahunter",
                    Url = "https://datahunter.ai",
                },
                new()
                {
                    Name = "Apption",
                    Url = "https://apption.com",
                },
            }
        },
    };

    // private string _boolIsTrue = "false";

    // private List<AeNavLink> _navLinks = new List<AeNavLink>
    // {
    // new AeNavLink{ Label = "Home", To = "/", IconName = "function", IconStyle = RxIcon.RxStyle.Fill, Color = "blue" },
    // new AeNavLink {Label = "Comps", To = "/components", IconName = "focus", Color = "orange", ChildLinks = new List<AeNavLink>()
    // {
    //     new AeNavLink{ Label = "Buttons", To = "/components/buttons", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Cards", To = "/components/cards", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Checkbox", To = "/components/checkbox", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Collapse", To = "/components/collapse", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Dropdowns", To = "/components/dropdowns", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Excel Import", To = "/components/pastearea", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Icon", To = "/components/icons", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Inputs", To = "/components/inputs", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "List", To = "/components/list", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Menu", To = "/components/menu", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Modal", To = "/components/modal", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "MultiSelect", To = "/components/multiselect", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Navbar", To = "/components/navbar", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Page Outline", To = "/components/outline", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Progress Bar", To = "/components/progress", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange" },
    //     new AeNavLink{ Label = "Spinner", To = "/components/spinner", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Steps", To = "/components/steps", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Tabs", To = "/components/tabs", IconName="focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Toggle", To = "/components/toggle", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Tooltip", To = "/components/tooltip", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Treeview", To = "/components/treeview", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    //     new AeNavLink{ Label = "Walkthrough", To = "/components/walkthrough", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, IconClassName = "orange"},
    // } },
    // new AeNavLink { Label = "Content", To="/content", IconName = "focus", Color = "purple", ChildLinks = new List<AeNavLink>()
    // {
    //     new AeNavLink{ Label = "Typography", To = "/content/typography", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "purple" },
    //     new AeNavLink{ Label = "Tables", To = "/content/tables", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "purple" },
    //     new AeNavLink{ Label = "Markdown", To = "/content/markdown", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "purple" },
    // } },        
    // new AeNavLink{ Label = "Forms", To = "/modelforms", IconName = "focus", Color = "green", ChildLinks = new List<AeNavLink>()
    // {
    //     new AeNavLink{ Label = "Basic Form", To = "/modelforms/basicform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Top Labels", To = "/modelforms/toplabelsform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Custom Labels", To = "/modelforms/customlabelsform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Form With Categories", To = "/modelforms/formwithcategories", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Form With Outline", To = "/modelforms/formwithoutline", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Interactive Form", To = "/modelforms/interactiveform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Flex Form", To = "/modelforms/flexform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Flex Form with Categories", To = "/modelforms/flexformwithcategory", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Interactive Dropdowns", To = "/modelforms/interactivedropdowns", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    //     new AeNavLink{ Label = "Custom Validation", To = "/modelforms/customvalidationform", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "green" },
    // } },
    // new AeNavLink{ Label = "Layout", To = "/layout", IconName = "focus", Color = "red", ChildLinks = new List<AeNavLink>()
    // {
    //     new AeNavLink{ Label = "Layout 1", To = "/layout/1", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "red" },
    //     new AeNavLink{ Label = "Layout 2", To = "/layout/2", IconName = "focus", IconStyle = RxIcon.RxStyle.Fill, Color = "red" },
    // } },
    // new AeNavLink { Label = "Helpers", To = "/helpers", IconName = "focus", Color = "pink", ChildLinks = new List<AeNavLink> { 
    //     new AeNavLink{ Label = "IE Not Supported", To = "/helpers/ieNotSupported", IconName = "error-warning", IconStyle = RxIcon.RxStyle.Fill, Color = "pink" },               
    // } }
        @* }; *@

}