@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@inherits LayoutComponentBase
@using AElemental.Code

<AeLayout Links="_navLinks">
    <Brand>
        <AeFlex>
            <img src="/_content/AElemental.Documentation/img/AElemental_128x128.png" style="max-height: 50px; padding-right:4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">AElemental</AeTypography>
        </AeFlex>
    </Brand>
    <Body>
        <AeTypography Variant="h1" style="text-align: center;">AElemental</AeTypography>
        <AeFlex Vertical style="width: 840px; padding: 0rem 2rem 5rem; margin: auto;">
            @Body
        </AeFlex>
    </Body>
</AeLayout>


@*
<AeLayoutV2 Links="_navLinks">
    @*<TopNavigation>Top Nav</TopNavigation>
    <Brand>
        <AeFlex>
            <img src="_content/Elemental.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding: 4px 4px 4px 4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </Brand>
    <BrandSmall>
        <AeFlex>
            <img src="_content/Elemental.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding: 4px 4px 4px 4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </BrandSmall>
    <ChildContent>
        <AeTypography Variant="h1" style="text-align: center;">Elemental</AeTypography>
        <AeFlex Vertical style="max-width: 840px; padding: 0rem 2rem 5rem; margin: auto;">
            @Body
        </AeFlex>
    </ChildContent>
</AeLayoutV2>*@



@*<AeLayout>
        <SideNavigation>
            <SideNav />
        </SideNavigation>
        <ChildContent>
            <AeTypography Variant="h1" style="text-align: center;">Elemental</AeTypography>
            <AeFlex Vertical style="max-width: 1200px; padding: 0rem 2rem 5rem">
                @Body
            </AeFlex>
        </ChildContent>
    </AeLayout>*@


@*<AeFlex>
        <SideNav />

        <AeFlex Vertical style="flex-grow: 1; margin-left: 250px;">
            <AeTypography Variant="h1" style="text-align: center;">Elemental</AeTypography>
            <AeFlex Vertical style="max-width: 1200px; padding: 0rem 2rem 5rem">
                @Body
            </AeFlex>
        </AeFlex>
    </AeFlex>*@

@code {

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Home", To = "/", IconName = "function", IconStyle = RXIcon.RXStyle.Fill, Color = "blue" },
        new AeNavLink {Label = "Comps", To = "/components", IconName = "focus", Color = "orange", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Buttons", To = "/components/buttons", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Cards", To = "/components/cards", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Checkbox", To = "/components/checkbox", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Collapse", To = "/components/collapse", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Dropdowns", To = "/components/dropdowns", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Excel Import", To = "/components/pastearea", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Icon", To = "/components/icons", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Inputs", To = "/components/inputs", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "List", To = "/components/list", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Menu", To = "/components/menu", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Modal", To = "/components/modal", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "MultiSelect", To = "/components/multiselect", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Navbar", To = "/components/navbar", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Page Outline", To = "/components/outline", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Progress Bar", To = "/components/progress", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange" },
            new AeNavLink{ Label = "Spinner", To = "/components/spinner", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Steps", To = "/components/steps", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Tabs", To = "/components/tabs", IconName="focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Toggle", To = "/components/toggle", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Tooltip", To = "/components/tooltip", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Treeview", To = "/components/treeview", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
            new AeNavLink{ Label = "Walkthrough", To = "/components/walkthrough", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "orange"},
        } },
        new AeNavLink { Label = "Content", To="/content", IconName = "focus", Color = "purple", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Typography", To = "/content/typography", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "purple" },
            new AeNavLink{ Label = "Tables", To = "/content/tables", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "purple" },
            new AeNavLink{ Label = "Markdown", To = "/content/markdown", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "purple" },
        } },        
        new AeNavLink{ Label = "Forms", To = "/modelforms", IconName = "focus", Color = "green", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Basic Form", To = "/modelforms/basicform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Top Labels", To = "/modelforms/toplabelsform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Custom Labels", To = "/modelforms/customlabelsform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Form With Categories", To = "/modelforms/formwithcategories", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Form With Outline", To = "/modelforms/formwithoutline", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Interactive Form", To = "/modelforms/interactiveform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Flex Form", To = "/modelforms/flexform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Flex Form with Categories", To = "/modelforms/flexformwithcategory", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Interactive Dropdowns", To = "/modelforms/interactivedropdowns", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
            new AeNavLink{ Label = "Custom Validation", To = "/modelforms/customvalidationform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        } },
        new AeNavLink{ Label = "Layout", To = "/layout", IconName = "focus", Color = "red", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Layout 1", To = "/layout/1", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "red" },
            new AeNavLink{ Label = "Layout 2", To = "/layout/2", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "red" },
        } },
        new AeNavLink { Label = "Helpers", To = "/helpers", IconName = "focus", Color = "pink", ChildLinks = new List<AeNavLink> { 
            new AeNavLink{ Label = "IE Not Supported", To = "/helpers/ieNotSupported", IconName = "error-warning", IconStyle = RXIcon.RXStyle.Fill, Color = "pink" },               
        } }
    };

}