@import '../../../Styles/colors.scss';
@import '../../../Styles/box-shadow.scss';

.brian {
    width: 480px;
    background-color: $grey-900;


    &:hover {
        background-color: $grey-800;
        @include BoxShadow(3);
    }

    h3 {
        margin-top: 0;
    }

    .ae.icon,
    .ae.typography {
        color: $white;
    }

    .big-icon {
        font-size: 4rem;
        align-self: center;
        margin: 0 1.5rem 0 .25rem;
    }

    .top-right {
        font-size: 1.5rem;
        position: absolute;
        top: .5rem;
        right: 1rem;
    }
}
