<CascadingValue Value="this">
	@foreach(var anchor in _Anchors)
	{
		<a href="@anchor.Href">@anchor.ChildContent</a>
	}
	@ChildContent
</CascadingValue>
<AeFragmentRouting/>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }	
	private List<AeOutlineAnchor> _Anchors;

	protected override void OnInitialized()
	{
		_Anchors = new List<AeOutlineAnchor>();
	}

	protected internal void AddAnchor(AeOutlineAnchor anchor)
	{
		_Anchors.Add(anchor);
		StateHasChanged();
	}
}
