@inject IJSRuntime JSRuntime
@inject GetDimensionsService Dimensions

@if(!(Anchors is null))
{
	<div style="@Style">
	@foreach (var item in Anchors)
	{
		<div @onclick="() => Scroll(item.Id)">@item.ChildContent</div>	
	}
	</div>
}


@code {
	[Parameter]
	public List<(string Id, RenderFragment ChildContent)> Anchors { get; set; }
	[Parameter]
	public string Style { get; set; }

	private async Task Scroll(string id)
	{
		if (String.IsNullOrEmpty(id)) throw new ArgumentNullException("id was null / empty");
		await JSRuntime.InvokeVoidAsync(("ScrollPosFromId"), id);
	}
}
