@inherits HtmlElement
@inject IJSRuntime JSRuntime
@inject GetDimensionsService Dimensions

<div class="@_Classname">
	@foreach (var item in Anchors)
	{
		<div @onclick="() => Scroll(item.Reference)">@item.ChildContent</div>	
	}
</div>

@code {
    [Parameter]
    public List<(ElementReference Reference, RenderFragment ChildContent)> Anchors { get; set; }
    private string _Classname => $"ae outline-wrapper {_inputClass}";

    private async Task Scroll(ElementReference refs)
    {
        if (refs.Equals(default(ElementReference))) throw new ArgumentNullException("ref was null");
        await JSRuntime.InvokeVoidAsync(("ScrollPos"), refs);
    }
}
