@page "/forms/{FormId}/newfield"
@inject Code.IFormFieldRepository FormFieldRepo
@inject Code.IFormRepository FormRepo
@inject NavigationManager NavManager

@if(_formField == null)
{
    <h3>Please Wait</h3>
}
else
{
    <h3>New Form Field</h3>

    <AeModelForm
        Model="@_formField"
        SubmitLabel="Save Changes"
        OnValidSubmit="@HandleValidSubmit"
        CancelLabel="Reset"
        OnCancel="@DoCreateFormField"
    />
}

<AeButton To="/formfields">Back</AeButton>

@code {

    [Parameter]
    public string FormId { get; set; }

    private FormField _formField;
    private Form _form;

    protected override async Task OnInitializedAsync()
    {
        _form = await FormRepo.GetForm(int.Parse(FormId));
        if (_form != null)
        {
            _formField = await DoCreateFormField();
        }
        else
        {
            NavManager.NavigateTo("/forms");
        }
    }

    private async Task<FormField> DoCreateFormField()
    {
        return new FormField() { FormID = _form.FormID };
    }

    private async void HandleValidSubmit()
    {
        _formField = await FormFieldRepo.AddFormField(_formField);
        NavManager.NavigateTo($"/formfields/view/{_formField.FormFieldID}");
    }
}
