@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Layout With Sidebar Bottom Links
    Description: Layout with sidebar bottom links
*@

@layout EmptyLayout
@page "/layout-5"

<AeLayout Links="_navLinks" SidebarExpandThreshold="900" SidebarShrunkThreshold="900" BottomLinks="bottoms">
    <Brand>
       <AeFlex>
            <img src="_content/Elemental.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding-right:4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </Brand>
    <Body>Main Content</Body>
</AeLayout>

@code {

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Main 1", To = "/main1", IconName = "function", IconStyle = RXIcon.RXStyle.Fill, Color = "blue", ChildLinks = new List<AeNavLink> {     
            new AeNavLink{ Label = "Sub 1", To = "/main1/sub1", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange", ChildLinks = new List<AeNavLink>
            {
                    new AeNavLink{ Label = "Sub Sub 1", To = "/main1/sub1/1", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange"},
                    new AeNavLink{ Label = "Sub Sub 2", To = "/main1/sub1/2", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange"},
            } },
            new AeNavLink{ Label = "Sub 2", To = "/main1/sub2", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange" },
            new AeNavLink{ Label = "Sub 3", To = "/main1/sub3", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange"},
            new AeNavLink{ Label = "Sub 4", To = "/main1/sub4", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange" },
            new AeNavLink{ Label = "Sub 5", To = "/main1/sub5", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "orange"},
        } },
        new AeNavLink {Label = "Main 2", To = "/main2", IconName = "focus", Color = "orange", Enable = false },
        new AeNavLink { Label = "Main 3", To="/main3", IconName = "focus", Color = "purple", Enable = false },
        new AeNavLink{ Label = "Main 4", To = "/main4", IconName = "focus", Color = "green" },
        new AeNavLink{ Label = "Main 5", To = "/main5", IconName = "focus", Color = "red" },
        new AeNavLink { Label = "Main 6", To = "/main6", IconName = "focus", Color = "pink", ChildLinks = new List<AeNavLink>
        {
            new AeNavLink{ Label = "Sub 1", To = "/main6/sub1", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "pink" },
            new AeNavLink{ Label = "Sub 2", To = "/main6/sub2", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "pink" },
            new AeNavLink{ Label = "Sub 3", To = "/main6/sub3", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "pink"},
            new AeNavLink{ Label = "Sub 4", To = "/main6/sub4", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "pink" },
            new AeNavLink{ Label = "Sub 5", To = "/main6/sub5", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "pink"},

        } }
    };
    private List<AeNavLink> bottoms = new List<AeNavLink> { 
        new AeNavLink { Label = "Profile", To = "/profile", IconName = "passport", Color = "blue" }, 
        new AeNavLink { Label = "Settings", To = "/settings", IconName = "settings-2", Color = "indigo", ChildLinks = new List<AeNavLink>
        {
            new AeNavLink { Label = "Setting 1", To = "/settings/1", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "indigo" },                     
            new AeNavLink { Label = "Setting 2", To = "/settings/2", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "indigo" },                     
            new AeNavLink { Label = "Setting 3", To = "/settings/3", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "indigo" },                     
        } } 
    };
}