@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Layout With Static Collapsed Sidenav
    Description: Layout with static collapsed sidenav
*@

@layout EmptyLayout
@page "/layout-4"

<AeLayout Links="_navLinks" SidebarExpandThreshold="900" SidebarShrunkThreshold="900" StayCollapse>
    <Brand>
       <AeFlex>
            <img src="_content/Elemental.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding-right:4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </Brand>
    <Body>Main Content</Body>
</AeLayout>

@code {

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Main 1", To = "/main1", IconName = "function", IconStyle = RxIcon.RxStyle.Fill, Color = "blue" },
        new AeNavLink {Label = "Main 2", To = "/main2", IconName = "focus", Color = "orange", Enable = false },
        new AeNavLink { Label = "Main 3", To="/main3", IconName = "focus", Color = "purple", Enable = false },
        new AeNavLink{ Label = "Main 4", To = "/main4", IconName = "focus", Color = "green" },
        new AeNavLink{ Label = "Main 5", To = "/main5", IconName = "focus", Color = "red" },
        new AeNavLink { Label = "Main 6", To = "/main6", IconName = "focus", Color = "pink" }
    };
}