@typeparam T

<div class="e e-form-control-wrapper">
    <p>
        <Microsoft.AspNetCore.Components.Forms.InputCheckbox @bind-Value="PropertyValue" />
        <AeFormLabel PropertyInfo="@PropertyInfo"/>
    </p>
</div>

@code {

    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    [Parameter]
    public T Instance { get; set; }

    public bool PropertyValue
    {
        get => (bool)PropertyInfo.GetValue(Instance);
        set
        {
            PropertyInfo.SetValue(Instance, value);
        }
    }

    private string GetID() => PropertyInfo.Name;

}
