@typeparam T

<div class="e e-form-control-wrapper">
    <AeFormLabel PropertyInfo="@PropertyInfo"/>
    <p>
    <Microsoft.AspNetCore.Components.Forms.InputDate @bind-Value="PropertyValue" />
    </p>
</div>

@code {

    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    [Parameter]
    public T Instance { get; set; }

    public DateTime PropertyValue
    {
        get => (DateTime)PropertyInfo.GetValue(Instance);
        set
        {
            PropertyInfo.SetValue(Instance, value);
        }
    }

    private string GetID() => PropertyInfo.Name;

}
