@if (!string.IsNullOrWhiteSpace(@GetLabel()))
{
    <label class="ae ae-form-control-label" for="@GetID()">
        <AeTypography Variant="p">@GetLabel()</AeTypography>
    </label>
}
else
{
    <div></div>
}

@code {
    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    /// <summary>
    /// There are two major layout options. Standard has line based with label / field and compact has a tabular layout with CSS flex.
    /// </summary>
    [Parameter] public ModelFormStyle ModelFormStyle { get; set; }

    private string GetID() => PropertyInfo.Name;

    private string GetLabel()
    {
        if (LabelForPropertyFunc != null)
        {
            return LabelForPropertyFunc(PropertyInfo);
        }
        else
        {
            return AeModelFormTools.GetLabel(PropertyInfo);
        }
    }

    /// <summary>
    /// Text that will be displayed for the Cancel button. Will be null and hidden by default.
    /// </summary>
    [CascadingParameter(Name= "LabelForPropertyFunc")]
    public Func<System.Reflection.PropertyInfo,string> LabelForPropertyFunc { get; set; } = null;
}
