@typeparam T

    <div class="e e-form-control-wrapper">
        @if (!string.IsNullOrWhiteSpace(GetLabel()))
        {
            <label class="e e-form-control-label" for="@GetID()">@GetLabel()</label>
        }
        <Microsoft.AspNetCore.Components.Forms.InputNumber @bind-Value="PropertyValue" />
    </div>

@code {

    //<AeInputText />

    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    [Parameter]
    public T Instance { get; set; }

    public int PropertyValue
    {
        get => (int)PropertyInfo.GetValue(Instance);
        set
        {
            PropertyInfo.SetValue(Instance, value);
        }
    }

    private string GetID() => PropertyInfo.Name;

    private string GetLabel() => PropertyInfo.Name + (IsRequired() ? "" : " (Optional)");

    private bool IsRequired()
    {
        return System.ComponentModel.DataAnnotations.RequiredAttribute.IsDefined(PropertyInfo, typeof(System.ComponentModel.DataAnnotations.RequiredAttribute));
    }

}
