@typeparam T
@using Elemental.Components.Forms


<AeFormLabel PropertyInfo="@PropertyInfo"/>

<Microsoft.AspNetCore.Components.Forms.InputNumber @bind-Value="PropertyValue" />

<div class="errortext">
    <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(AeModalFormTools.GetExpression<T>(Instance,PropertyInfo))" />
</div>


@code {

    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    /// <summary>
    /// There are two major layout options. Standard has line based with label / field and compact has a tabular layout with CSS flex.
    /// </summary>
    [Parameter] public ModelFormStyle ModelFormStyle { get; set; }

    [Parameter]
    public object Instance { get; set; }

    public T PropertyValue
    {
        get => (T)PropertyInfo.GetValue(Instance);
        set
        {
            PropertyInfo.SetValue(Instance, value);
        }
    }

    private string GetID() => PropertyInfo.Name;


}
