@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@namespace Elemental.Components
@inherits HtmlElement

<label class="@_classname" @attributes="InputAttributesWithoutClass">
    <AeCheckbox IsChecked="isChecked" ItemSelected="toggleCheckbox" />
    <span class="slider"></span>
</label>

@code {

    private string _classname => $"ae toggle {_inputClass}";

}