@foreach (var list in Lists)
{
    <li> @list.itemName</li>

    if (list.childList?.Any() == true)
    {

        @foreach (var childList in list.childList)
        {
            <li>@childList.itemName</li>

        }
    }
}
@code {
    [Parameter]
    public List<AeListds> Lists { get; set; }
}
