@import '../colors.scss';
@import '../box-shadow.scss';

.card-page-container {

    .basics {
        .ae.card {
            margin-bottom: 1rem;
        }
    }

    @import '../../Samples/Cards/Examples/CardSamples.scss';
}