@*
Copyright 2020 Apption Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@

@namespace Elemental.Components
@inherits HtmlElement

<div class="@_layoutClassname"  @attributes="@InputAttributesWithoutClass">   
    <AeSideNav @attributes="_attributes" />
    <div class="@_wrapperClassname">
        @if (TopBar != null)
        {
            <AeTopBar>
                @TopBar
            </AeTopBar>
        }
        @Body
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Brand { get; set; }

    [Parameter]
    public List<AeNavLink> Links { get; set; }

    [Parameter]
    public RenderFragment TopBar { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }
    [Parameter]
    public List<AeNavLink> BottomLinks { get; set; } 

    [Parameter]
    public int SidebarExpandThreshold { get; set; } = 1400;
    [Parameter]
    public int SidebarShrunkThreshold { get; set; } = 1400;
    [Parameter]
    public bool StayCollapse { get; set; } = false;

    [Parameter]
    public RenderFragment<string> IconTemplate { get; set; }

    private string _layoutClassname => $"ae layout {_inputClass} {(StayCollapse ? "stay-collapse": "")}";
    private string _wrapperClassname => $"ae content-wrapper";
    private Dictionary<string, object> _attributes;

    protected override void OnInitialized()
    {
        _attributes = new Dictionary<string,object>();
        _attributes.Add(nameof(IconTemplate),this.IconTemplate);
        _attributes.Add(nameof(Links),this.Links);
        _attributes.Add(nameof(BottomLinks),this.BottomLinks);
        _attributes.Add(nameof(Brand),this.Brand);
        _attributes.Add(nameof(SidebarExpandThreshold),this.SidebarExpandThreshold);
        _attributes.Add(nameof(SidebarShrunkThreshold),this.SidebarShrunkThreshold);
        _attributes.Add(nameof(StayCollapse),this.StayCollapse);
    }
}
