@namespace AElemental.Components

@inherits HtmlElement

@if(Parent._ActivePage == this)
{
    <div class="@_classname">
      @ChildContent
    </div>    
}

@code {

    [CascadingParameter]
    private AeTabControl Parent { get; set; }
    [Parameter]
    public bool Disable { get; set; }
    [Parameter]
    public bool Deletable { get; set; }
    [Parameter]
    public RenderFragment Header { get; set; }

    public string _classname => $"ae tabpage {_inputClass}";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Parent.AddTab(this);
    }

    public void RemoveTab()
    {
        Parent.RemoveTab(this);
    }
}
