@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@page "/modelform"


<div class="component model-form">
    <div class="title">Model Form</div>
    <div class="showcase">
        <AeModelForm Model="@_starship" Submit="Save changes" OnValidSubmit="HandleValidSubmit" CancelLabel="Cancel" OnCancel="CreateStarship" />
    </div>
</div>

@code {
    private Starship _starship;

    private async Task<Starship> CreateStarship()
    {
        return new Starship() {  ProductionDate = DateTime.Today}; 
    }
    
    protected override async Task OnInitializedAsync()
    {
        _starship = await CreateStarship();
    }

    private void HandleValidSubmit()
    {
    }



}