@use '../common/' as c;

@mixin configure($options) {
    @if ($options) {
        @debug 'tab configuration not yet supported';
    }
}


/*
    OVERRIDE

    .ae.tab-container

        .ae.tab-control-wrapper

            .ae.tab-control
                <styles>


            .active 
                .ae.tab-control
                    <active styles>

        .ae.tab-content-wrapper
            
*/

@mixin styles {
    .ae.tab-wrapper {
        /*        border-bottom: 1px solid c.$grey-500;*/
        padding: 3px 0 3px 0;


        & .ae.tab {
            display: inline;
            cursor: pointer;
            padding: 0 8px 0 8px;
            border-bottom: 1px solid c.$grey-500;
            transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
            user-select: none;

            &.active{
                min-width: 100px;
            }

            &:hover{
                background-color: c.$grey-200;
            }

            &.disable.deletable {
            }

            &.disable {
                color: #ccc;
                cursor: no-drop;
                & .tab-deletable:hover{
                    background-color: white;
                }
            }

            &.deletable {
            }
        }


        & .tab-deletable {
            margin-left: 3px;
            transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
            &:hover {
                background-color: c.$grey-300;
            }
        }
        /*            & .default-tabstyle {
                border: none;
            }*/
        /*        & .default-tabstyle {
            display: inline;
            border-radius: 10px 10px 0 0;
            color: white;
            background-color: blue;
            border: 0;
        }*/
    }

    .ae.tabpage {
        padding: 20px 10px 20px 10px;
    }
    /*    .ae.tab-wrapper {
        border-bottom: 1px solid c.$grey-500;

        & > .ae.button {
            background-color: inherit;
            color: black;
            padding: 5px;
            border-radius: 0;
            margin-right: 3px;
        }

        & > .ae.button.active {
            border-bottom: 1px solid blue;
        }
    }

    .ae.tabpage {
        padding: 20px 10px 20px 10px;
    }

    .ae.tab.deletable {
        cursor: pointer;
    }*/
    /*    .tabstyle {
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 0;
        margin-right: 3px;
        display: inline;
    }*/
}
