@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Customize Modal
    Description: Customize modal with class name, background option or the footer
*@
@using Elemental.Services
@inject UIControlsService UIControlService
<AeTypography>Disable Background Cancel and custom footer</AeTypography>
<AeButton @onclick="ShowModal" style="margin-right:2rem;">Show Modal Box</AeButton>

<AeTypography>Show a component</AeTypography>
<AeButton @onclick="ShowModalTable">Show Modal Table</AeButton>

@code {

    private void ShowModal()
    {
        RenderFragment modalBody = @<div>
                                        <p>Content</p>
                                        <p>Content</p>
                                        <p>Content</p>
                                    </div>;
        RenderFragment modalFooter = @<div style="display:flex;justify-content:space-between;">
                                        <AeButton class="blue">Save</AeButton>  
                                        <AeButton class="red" @onclick="() => { UIControlService.ToggleModal(); StateHasChanged(); }">Close</AeButton>  
                                      </div>;
        var modalParameter = new Elemental.Code.ModalParameter() { Class = "modal", Body = modalBody, DisableBackgroundCancel = true, Title = "Default", Footer = modalFooter };
        UIControlService.ToggleModal(modalParameter);
    }

    private void ShowModalTable()
    {
        RenderFragment table = @<Elemental.Documentation.Samples.Tables.Examples.BasicTable></Elemental.Documentation.Samples.Tables.Examples.BasicTable>;
        UIControlService.ToggleModal("Basic Table", table);
    }

}