@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Error Message Modal
    Description: Basic example of how to implement an error message modal box.
*@
@using Elemental.Services
@inject UIControlsService UIControlService
<AeButton @onclick="ShowModal">Show Modal Box</AeButton>

@code {

    private void ShowModal()
    {
        RenderFragment modalContent = @<div>
                                            <p>Content</p>
                                            <p>Content</p>
                                            <p>Content</p>
                                        </div>;
        UIControlService.ToggleModal("Default", modalContent);
    }


}