
<div class="ae modal-wrapper">
    <AeTypography Variant="h4" class="ae modal-title">@HeaderText</AeTypography>
    @foreach (var text in ChoiceTextList)
    {
        <div class="ae modal-body">@text</div>
    }
    <div class="ae modal-footer">
        <AeButton class="blue" OnClick="() => OnDecision?.Invoke(true)">Confirm</AeButton>
        <AeButton class="red" OnClick="() => OnDecision?.Invoke(false)">Cancel</AeButton>
    </div>
</div>

@code{
    [Parameter]
    public Action<bool> OnDecision { get; set; }
    [Parameter]
    public List<string> ChoiceTextList { get; set; }
    [Parameter]
    public string HeaderText { get; set; }

}