@namespace Elemental.Components

<div class="ae checkbox" @onclick="OnClick">
    @if (IsChecked == true)
    {
        @if (CheckedIcon == null)
        {
            <AeIcon Icon="check"></AeIcon>
        }
        else
        {
            <i class="@CheckedIcon"></i>

        }
    }
    @if (IsChecked is null)
    {
        @if (CheckedIcon == null)
        {
            <AeIcon Icon="subtract"></AeIcon>
        }
        else
        {
            <i class="@NullIcon"></i>

        }
    }
    @if (IsChecked == false && UncheckedIcon != null)
    {
        <i class="@UncheckedIcon"></i>
    }
</div>

@code { 
    
    [Parameter]
    public bool? IsChecked { get; set; } = false;

    [Parameter]
    public EventCallback<bool?> IsCheckedChanged { get; set; }

    private async Task OnClick()
    {
        await IsCheckedChanged.InvokeAsync(IsChecked);
    }

    [Parameter]
    public string CheckedIcon { get; set; }

    [Parameter]
    public string UncheckedIcon { get; set; }

    [Parameter]
    public string NullIcon { get; set; }
}
