@namespace Elemental.Components

<div class="ae checkbox" @onclick="OnClick">    
    @if (IsChecked && HasValue)
    {
        @if (CheckedIcon == null)
        {
            <AeIcon Icon="check"></AeIcon>
        }
        else
        {
            <i class="@CheckedIcon"></i>

        }
    }
    @if (!HasValue)
    {
        @if (CheckedIcon == null)
        {
            <AeIcon Icon="subtract"></AeIcon>
        }
        else
        {
            <i class="@NullIcon"></i>

        }
    }
    @if (HasValue && IsChecked == false && UncheckedIcon != null)
    {
        <i class="@UncheckedIcon"></i>
    }
</div>

@code {

    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public bool HasValue { get; set; } = true;

    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

    [Parameter]
    public EventCallback<bool> HasValueChanged { get; set; }

    private async Task OnClick()
    {
        IsChecked = !IsChecked;
        await IsCheckedChanged.InvokeAsync(IsChecked);
    }

    [Parameter]
    public string CheckedIcon { get; set; }

    [Parameter]
    public string UncheckedIcon { get; set; }

    [Parameter]
    public string NullIcon { get; set; }
}
