@namespace Elemental.Components
@inherits HtmlElement

<div class="@_className" @attributes="InputAttributesWithoutClassOrStyle" style="@_style">
  @ChildContent
</div>

@code {
  
  [Parameter] public bool Header { get; set; }
  [Parameter] public string GridStyle { get; set; }
  private string _className => $"ae {(Header ? "table-header" : "table-row")} {_inputClass}";
  private string _style => $"{GridStyle} {_inputStyle}";
}
