@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Custom Rendered links
    Description: If you don't want a text link you can pass a RenderFragment override
*@


<AeNavbar Links="_navLinks" RightLinks="GetRightNavLinks()" />


@code {

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink()
        {
            To = "#",
            Label = "Home",
        },
        new AeNavLink()
        {
            To = "#",
            Label = "News",
        },
        new AeNavLink()
        {
            To = "#",
            Label = "Blog",
        },
    };


    private List<AeNavLink> GetRightNavLinks()
    {
        return new List<AeNavLink>
        {
            new AeNavLink()
            {
                CustomRender = (@<div class="custom-navlink"><AeButton>Click me!</AeButton></div>)
            },
            new AeNavLink()
            {
                To = "#",
                Label = "Contact",
            },
        };
    }
}


