<Router AppAssembly="@typeof(Elemental.Documentation.Server.Program).Assembly"
    AdditionalAssemblies="new[] { typeof(Elemental.Documentation.DocumentationTools).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Elemental.Documentation.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Elemental.Documentation.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<AeModal />
