@* Copyright (c) 2020 Apption Corporation

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/. *@

@page "/"
@namespace Elemental.Documentation.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elemental Documentations</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/night-owl.min.css">

    <link href="_content/Apption.Elemental.Theme/elemental.css" rel="stylesheet" />
    <link href="_content/Blazor.Elemental/css/third-party/remixicon.css" rel="stylesheet">
    <link href="_content/Blazor.Elemental/css/third-party/shepherd.css" rel="stylesheet">

    <link href="_content/Elemental.Documentation/elemental-docs.css" rel="stylesheet" />
    <link href="_content/Elemental.Documentation/third-party/font-awesome-all.min.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

    <script src="_content/Elemental.Documentation/js/highlight-init.js"></script>
    <script src="_content/Blazor.Elemental/js/getDimensions.js"></script>
    <script src="_content/Blazor.Elemental/js/ae_dropdown.js"></script>
    <script src="_content/Blazor.Elemental/js/saveAsFile.js"></script>
    <script src="_content/Blazor.Elemental/js/virtualScrolling.js"></script>
    <script src="_content/Blazor.Elemental/js/modal-helper.js"></script>
    <script src="_content/Blazor.Elemental/js/initializeSidebar.js"></script>
    <script src="_content/Blazor.Elemental/js/tableToolTipHelper.js"></script>
    <script src="_content/Blazor.Elemental/js/clipboard-interop.js"></script>
    <script src="_content/Blazor.Elemental/js/walkThrough.js"></script>
    <script src="_content/Blazor.Elemental/js/shepherd.min.js"></script>

</head>
<body>
    <app>
        <component type="typeof(Elemental.Documentation.Server.App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
