@*
 Copyright 2020 Apption Corporation
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*@

@namespace Elemental.Components
@inherits HtmlElement
@inject NavigationManager NavigationManager


<div class="@_classname" @onclick="HandleClick" @attributes="@InputAttributesWithoutClass">
    @ChildContent
</div>

@code {

    /// <summary>
    /// URL to redirect the user
    /// To parameter will be passed to the navigation manager
    /// </summary>
    [Parameter]
    public string To { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickEvent { get; set; }

    private string _classname => $"ae button {_inputClass} {(Disabled ? "disabled" : "")}";

    private async Task HandleClick(MouseEventArgs args)
    {
        if (Disabled)
        {
            return;
        }

        if (!string.IsNullOrWhiteSpace(To))
        {
            NavigationManager.NavigateTo(To);
        }
        else
        {
            if (OnClickEvent.HasDelegate)
            {
                await OnClickEvent.InvokeAsync(args);
            }
        }

    }
}