@namespace Elemental.Components

<div class="@_topNavClassname">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    private string _topNavClassname => $"ae top-nav";

}
