@namespace AElemental.Components


@if (_isDropdownLabel)
{
    <li class="@_classname">
        <AeNavLinkRender Link="Link" IsDropdownLabel ToggleDropDown="ToggleDropDown" />
        <div class="ae nav-dropdown-content">
            @foreach (var child in Link.ChildLinks)
            {
                <AeNavLinkRender Link="child" CloseNav="CloseNav" />
            }
        </div>
    </li>
}
else
{
    <li>
        <AeNavLinkRender Link="Link"  CloseNav="CloseNav"/>
    </li>
}


@code {
    [Parameter]
    public AeNavLink Link { get; set; }
    [Parameter]
    public EventCallback CloseNav { get; set; }
    private string _classname => $"ae nav-dropdown {(_isOpen ? "open" : "")}";
    private bool _isDropdownLabel => Link.ChildLinks.Any();
    private bool _isOpen = false;

    private async Task ToggleDropDown()
    {
        if (_isDropdownLabel)
        {
            _isOpen = !_isOpen;
            await InvokeAsync(() => StateHasChanged());
        }
    }

    public async Task CloseDropdown()
    {
        _isOpen = false;
        await InvokeAsync(() => StateHasChanged());
    }
}
