@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@page "/modelforms/flexform"

@inherits DemoPage

<AeFlex Vertical class="typography-page-container">
    <DemoSection Path="./Samples/ModelForm/Examples/StarshipFormTopLabelsFlexbox.razor" AdditionalCS="./Samples/ModelForm/Starship2.cs">
        <AeFlex Vertical>
            <Elemental.Documentation.Samples.ModelForm.Examples.StarshipFormTopLabelsFlexbox />
        </AeFlex>
    </DemoSection>
</AeFlex>

@code {

}
<h3>InteractiveForm</h3>

@code {

}
