@*
  Copyright (c) 2020 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Title: Display Percent
  Description: Include optional percent information
*@
<div>
  <AeProgress showPercent=true Percent=67 />
  <AeProgress showPercent=true Percent=100 />
  <AeProgress showPercent=true Percent=32.1f />
</div>


