@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Layout With Custom Icon
    Description: Layout with Custom Icon
*@

@layout EmptyLayout
@page "/layout-6"

<AeLayout Links="_navLinks" SidebarExpandThreshold="900" SidebarShrunkThreshold="900">
    <Brand>
       <AeFlex>
            <img src="_content/Elemental.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding-right:4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </Brand>
    <TopBar>Top Navigation</TopBar>
    <Body>Main Content</Body>
</AeLayout>

@code {
    @using Elemental.Code;
    
    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Main 1", To = "/main1", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon>,  ChildLinks = new List<AeNavLink> {     
            new AeNavLink{ Label = "Sub 1", To = "/main1/sub1", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon>, ChildLinks = new List<AeNavLink>
            {
                    new AeNavLink{ Label = "Sub Sub 1", To = "/main1/sub1/1", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
                    new AeNavLink{ Label = "Sub Sub 2", To = "/main1/sub1/2", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
            } },
            new AeNavLink{ Label = "Sub 2", To = "/main1/sub2", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
            new AeNavLink{ Label = "Sub 3", To = "/main1/sub3", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
            new AeNavLink{ Label = "Sub 4", To = "/main1/sub4", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
            new AeNavLink{ Label = "Sub 5", To = "/main1/sub5", Color="red", IconRender = @<AeIcon Icon="focus"></AeIcon> },
        } },
        new AeNavLink {Label = "Main 2", To = "/main2", Color = "indigo", IconRender = @<AeIcon Icon="focus"></AeIcon>, Enable = false },
        new AeNavLink { Label = "Main 3", To="/main3", Color = "blue", IconRender = @<AeIcon Icon="focus"></AeIcon>, Enable = false },
        new AeNavLink{ Label = "Main 4", To = "/main4", Color = "yellow", IconRender = @<AeIcon Icon="focus"></AeIcon> },
        new AeNavLink{ Label = "Main 5", To = "/main5", Color = "green", IconRender = @<AeIcon Icon="focus"></AeIcon> },
        new AeNavLink { Label = "Main 6", To = "/main6", Color = "purple", IconRender = @<AeIcon Icon="focus"></AeIcon>, ChildLinks = new List<AeNavLink>
        {
            new AeNavLink{ Label = "Sub 1", To = "/main6/sub1", Color = "purple", IconRender = @<AeIcon Icon="focus" IconStyle="RXIcon.RXStyle.Fill"></AeIcon> },
            new AeNavLink{ Label = "Sub 2", To = "/main6/sub2", Color = "purple", IconRender = @<AeIcon Icon="focus" IconStyle="RXIcon.RXStyle.Fill"></AeIcon> },
            new AeNavLink{ Label = "Sub 3", To = "/main6/sub3", Color = "purple", IconRender = @<AeIcon Icon="focus" IconStyle="RXIcon.RXStyle.Fill"></AeIcon> },
            new AeNavLink{ Label = "Sub 4", To = "/main6/sub4", Color = "purple", IconRender = @<AeIcon Icon="focus" IconStyle="RXIcon.RXStyle.Fill"></AeIcon> },
            new AeNavLink{ Label = "Sub 5", To = "/main6/sub5", Color = "purple", IconRender = @<AeIcon Icon="focus" IconStyle="RXIcon.RXStyle.Fill"></AeIcon> },

        } }
    };
}
}