@page "/pastearea"
@inherits DemoPage


<h1>helllo</h1>
<AeFlex Vertical>
    <DemoSection Path="./Samples/PasteArea/Examples/PasteArea.razor">
        <AeFlex>
            <Elemental.Documentation.Samples.PasteArea.Examples.PasteArea />
        </AeFlex>
    </DemoSection>   
</AeFlex>

@code {

}
