@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Basic Layout with Sidebar
    Description: The most basic of page layout with sidebar
*@

<AeTypography Variant="h2">Instruction</AeTypography>
<AeTypography>
    Include the following line to <i>&lt;head&gt;</i>
</AeTypography>
<div class="code-wrapper">
    <pre style="margin: 0"><code class="language-html">
        @(@"<script src=""_content/Apption.Elemental/js/initializeSidebar.js""></script>")
    </code></pre>
</div>
<AeTypography style="margin-top: .75rem;" Variant="h4">C#</AeTypography>

<div class="code-wrapper">
    <pre style="margin: 0"><code class="language-html">
@(@"
<AeLayoutV2 Links=""_navLinks"">
    <Brand>
        <a class=""ae typography nav-logo-wrapper"" href=""https://www.apption.com"">
            <div class=""nav-logo"">
                <img src=""/img/apption-logo-white.svg"" />
            </div>
        </a>
    </Brand>
    <BrandSmall>
        <a class=""ae typography nav-logo-wrapper"" href=""https://www.apption.com"">
            <div class=""nav-logo"">
                <img src=""/img/apption-logo-white.svg"" />
            </div>
        </a>
    </BrandSmall>
    <ChildContent>Content Body</ChildContent>
</AeLayoutV2>

")
</code></pre>
</div>

@code {
    @using Elemental.Code;

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Home", To = "/", IconName = "function", IconStyle = RXIcon.RXStyle.Fill, IconClassName = "blue" },
        new AeNavLink {Label = "Components", IconName = "focus", IconClassName = "orange", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Navbar", To = "/navbar", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Buttons", To = "/buttons", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Inputs", To = "/inputs", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Dropdowns", To = "/dropdowns", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill},
            new AeNavLink{ Label = "Cards", To = "/cards", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Progress Bar", To = "/progress", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Modal", To = "/modal", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Collapse", To = "/collapse", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Menu", To = "/menu", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Toggle", To = "/toggle", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill},
            new AeNavLink{ Label = "List", To = "/list", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill},
            new AeNavLink{ Label = "Icon", To = "/icons", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill},
        } },
        new AeNavLink { Label = "Content", IconName = "focus", IconClassName = "purple", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Typography", To = "/typography", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Tables", To = "/tables", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },
        } },
        new AeNavLink{ Label = "Forms", To = "/modelform", IconName = "focus", IconClassName = "green" },
        new AeNavLink{ Label = "Layout", IconName = "focus", IconClassName = "red", ChildLinks = new List<AeNavLink>()
        {
            new AeNavLink{ Label = "Layout", To = "/layout", IconName = "layout", IconStyle = RXIcon.RXStyle.Fill },
            new AeNavLink{ Label = "Sidebar", To = "/layoutWithSidebar", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill },

        } }
    };
}