@import '../colors.scss';

.layout-page-container {
    .layout-container {
        background-color: $grey-200;
        font-size: 0.7rem;
        color: $white;

        .ae.layout {
            display: flex;
        }


        .ae.side-nav {
            background-color: $blue-300;
            position: initial;
            top: initial;
            left: initial;
            height: 448px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .ae.content-wrapper {
            &.has-side-nav {
                margin-left: 0;
            }
        }

        .ae.top-nav {
            background-color: $blue-400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: initial !important;
            z-index: 1 !important;
        }

        .ae.content-body {
            background-color: $blue-500;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}
