@import '../colors.scss';

.home-page-container {


    .section {

        &:before {
            border-top: 1px solid $grey-300;
            display: block;
            position: relative;
            content: "";
            width: 50%;
            margin: 5rem auto;
        }

        &.description {
            text-align: center;

            .plug {
                margin-top: 2rem;
                opacity: .5;
                transition: all .4s ease-out;

                &:hover {
                    opacity: 1;
                }
            }
        }

        #nuget-install,
        .code-wrapper {
            margin: .5rem 0;
        }
    }
}
