@namespace AElemental.Components
@using System.Reflection
@using AElemental.Theme
@inherits HtmlElement


<span style="@_style">
    @ChildContent
</span>

@code {

    [Parameter]
    public AeTheme AeTheme { get; set; } = new();
    private string? _style;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        var aelementalThemeValues = typeof(AeTheme).GetProperties()
            .Where(p => p.CustomAttributes.Any(a => a.AttributeType == typeof(AeCssVariableAttribute)))
            .DistinctBy(p => ((AeCssVariableAttribute) p.GetCustomAttribute(typeof(AeCssVariableAttribute))!).AeCssVariable)
            .ToDictionary(p => ((AeCssVariableAttribute) p.GetCustomAttribute(typeof(AeCssVariableAttribute))!).AeCssVariable,
                p => (string) p.GetValue(AeTheme)!);
        
        
        _style = new AeStyleBuilder()
            .AddStylesFromDictionary(aelementalThemeValues)
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();
    }
}