@namespace AElemental.Components
@inherits HtmlElement


<span style="@_style">
    @ChildContent
</span>

@code {

    [Parameter]
    public AeTheme AeTheme { get; set; } = new();
    private string? _style;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        _style = new AeStyleBuilder()
            .AddStyle("--ae-corner-radius", AeTheme.CornerRadius)
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();
    }
}