@use 'sass:map';
@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/themes/scss/utilities';

$aelemental: (
        background: #ffffff,
        background-active: rgba(141, 141, 141, 0.5),
        background-brand: #ad00b9,
        background-hover: rgba(141, 141, 141, 0.12),
        background-inverse: #393939,
        background-inverse-hover: #474747,
        background-selected: rgba(141, 141, 141, 0.2),
        background-selected-hover: rgba(141, 141, 141, 0.32),
        border-disabled: #c6c6c6,
        border-interactive: #0f62fe,
        border-inverse: #161616,
        border-strong-01: #8d8d8d,
        border-strong-02: #8d8d8d,
        border-strong-03: #8d8d8d,
        border-subtle-00: #e0e0e0,
        border-subtle-01: #e0e0e0,
        border-subtle-02: #e0e0e0,
        border-subtle-03: #e0e0e0,
        border-subtle-selected-01: #c6c6c6,
        border-subtle-selected-02: #c6c6c6,
        border-subtle-selected-03: #c6c6c6,
        field-01: #f4f4f4,
        field-02: #ffffff,
        field-03: #f4f4f4,
        field-hover-01: #e8e8e8,
        field-hover-02: #e8e8e8,
        field-hover-03: #e8e8e8,
        focus: #0f62fe,
        focus-inset: #ffffff,
        focus-inverse: #ffffff,
        highlight: #d0e2ff,
        icon-disabled: rgba(22, 22, 22, 0.25),
        icon-inverse: #ffffff,
        icon-on-color: #ffffff,
        icon-on-color-disabled: #8d8d8d,
        icon-primary: #161616,
        icon-secondary: #525252,
        interactive: #738b30,
        layer-01: #f4f4f4,
        layer-02: #ffffff,
        layer-03: #f4f4f4,
        layer-accent-01: #e0e0e0,
        layer-accent-02: #e0e0e0,
        layer-accent-03: #e0e0e0,
        layer-accent-active-01: #a8a8a8,
        layer-accent-active-02: #a8a8a8,
        layer-accent-active-03: #a8a8a8,
        layer-accent-hover-01: #d1d1d1,
        layer-accent-hover-02: #d1d1d1,
        layer-accent-hover-03: #d1d1d1,
        layer-active-01: #c6c6c6,
        layer-active-02: #c6c6c6,
        layer-active-03: #c6c6c6,
        layer-hover-01: #e8e8e8,
        layer-hover-02: #e8e8e8,
        layer-hover-03: #e8e8e8,
        layer-selected-01: #e0e0e0,
        layer-selected-02: #e0e0e0,
        layer-selected-03: #e0e0e0,
        layer-selected-disabled: #8d8d8d,
        layer-selected-hover-01: #d1d1d1,
        layer-selected-hover-02: #d1d1d1,
        layer-selected-hover-03: #d1d1d1,
        layer-selected-inverse: #161616,
        link-inverse: #78a9ff,
        link-inverse-active: #f4f4f4,
        link-inverse-hover: #a6c8ff,
        link-primary: #0f62fe,
        link-primary-hover: #0043ce,
        link-secondary: #0043ce,
        link-visited: #8a3ffc,
        overlay: rgba(22, 22, 22, 0.5),
        shadow: rgba(0, 0, 0, 0.3),
        skeleton-background: #e8e8e8,
        skeleton-element: #c6c6c6,
        support-caution-major: #ff832b,
        support-caution-minor: #f1c21b,
        support-caution-undefined: #8a3ffc,
        support-error: #da1e28,
        support-error-inverse: #fa4d56,
        support-info: #0043ce,
        support-info-inverse: #4589ff,
        support-success: #198038,
        support-success-inverse: #42be65,
        support-warning: #f1c21b,
        support-warning-inverse: #f1c21b,
        text-disabled: rgba(22, 22, 22, 0.25),
        text-error: #da1e28,
        text-helper: #6f6f6f,
        text-inverse: #ffffff,
        text-on-color: #ffffff,
        text-on-color-disabled: #8d8d8d,
        text-placeholder: rgba(22, 22, 22, 0.4),
        text-primary: #161616,
        text-secondary: #525252,
        toggle-off: #8d8d8d,
        
) !default;
$aelemental: utilities.merge(
                $aelemental,
                layout.$spacing,
                layout.$fluid-spacing,
                type.$tokens
);