@page "/outline"
@inherits DemoPage
@using Elemental.Components.PageOutline
<div class="alertbox">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Info!</strong> Before you proceed.
  <ul>
      <li>Make sure that automatic sleep is disabled to prevent the computer from sleeping during analysis</li>
      <li>Ensure you are connected to a VPN if necessary for proper connection to databases</li>
  </ul>
</div>
<AeCard style="width: 250px; position:fixed; top:0px; right:0px;">
    <Header>
        <AeTypography style="flex-grow: 1; ">Document Navigation</AeTypography>
    </Header>
    <ChildContent>
        <AeOutline>
            <AeOutlineAnchor Href="fragment"> Fragment Routing</AeOutlineAnchor>
            <AeOutlineAnchor Href="outline"> Basic Outline Component</AeOutlineAnchor>
            <AeOutlineAnchor Href="reference"> Reference Based Outline</AeOutlineAnchor>
            <AeOutlineAnchor Href="ids"> Id Based Outline</AeOutlineAnchor>
        </AeOutline>
    </ChildContent>
</AeCard>
<AeFlex Vertical>
    <span id="fragment">
        <DemoSection Path="./Samples/PageOutline/Examples/FragmentRouting.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.FragmentRouting />
        </DemoSection>
    </span>
    <span id="outline">
        <DemoSection Path="./Samples/PageOutline/Examples/BasicOutline.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.BasicOutline />
        </DemoSection>
    </span>
    <span id="reference">
        <DemoSection Path="./Samples/PageOutline/Examples/ReferenceOutline.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.ReferenceOutline />
        </DemoSection>
    </span>
    <span id="ids">
        <DemoSection Path="./Samples/PageOutline/Examples/IdOutline.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.IdOutline />
        </DemoSection>
    </span>
</AeFlex>
