@page "/outline"
@inherits DemoPage
<AeCard style="width: 250px; position:fixed; top:0px; right:0px;">
    <Header>
        <AeTypography style="flex-grow: 1; ">Document Navigation</AeTypography>
    </Header>
    <ChildContent>
        <Elemental.Components.PageOutline.AeOutlineRef Anchors="_Anchors" Style=""/>
    </ChildContent>
</AeCard>
<AeFlex Vertical>
    <span @ref="fragment">
        <DemoSection Path="./Samples/PageOutline/Examples/FragmentRouting.razor" >
            <Elemental.Documentation.Samples.PageOutline.Examples.FragmentRouting/>
        </DemoSection>
    </span>
    <span @ref="reference">
        <DemoSection Path="./Samples/PageOutline/Examples/ReferenceOutline.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.ReferenceOutline/>
        </DemoSection>
    </span>
    <span @ref="ids">
        <DemoSection Path="./Samples/PageOutline/Examples/IdOutline.razor">
            <Elemental.Documentation.Samples.PageOutline.Examples.IdOutline/>
        </DemoSection>
    </span>
</AeFlex>

@code{
    private ElementReference fragment;
    private ElementReference reference;
    private ElementReference ids;
    private List<(ElementReference, RenderFragment)> _Anchors;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            _Anchors = new List<(ElementReference, RenderFragment)>
            {
                (fragment, @<AeTypography Variant="a">Example 1: Fragment Routing  </AeTypography>), 
                (reference, @<AeTypography Variant="a"> Example 2: Reference Outline</AeTypography>),
                (ids, @<AeTypography Variant="a"> Example 3: Id Outline</AeTypography>),

            };
            StateHasChanged();
        } 
    }
}
