@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Custom Rendered Dropdowns
    Description: You can pass in render fragments to customize the dropdown items
*@

<AeTypography>Selected item: @_selectedItem</AeTypography>

<AeDropdown Label="Basic Dropdown"
            Items="_dropdownItems"
            OnChange="HandleDropdownChange" />

@code {

    private RenderFragment _selectedItem;

    private List<RenderFragment> _dropdownItems;

    protected override void OnInitialized()
    {
        _dropdownItems = new List<RenderFragment>();
        _dropdownItems.Add(@<div>First</div>);
        _dropdownItems.Add(@<div>Second</div>);
        _dropdownItems.Add(@<div>Third</div>);
    }

    private void HandleDropdownChange(RenderFragment selectedItem)
    {
        _selectedItem = selectedItem;
        StateHasChanged();
    }
}
