@page "/components/navbar"
@inherits DemoPage

<AeFlex Vertical class="navbar-page-container">
    <DemoSection Path="./Samples/Navbar/Examples/SimpleNavbar.razor">
        <div>
            <AElemental.Documentation.Samples.Navbar.Examples.SimpleNavbar />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/DropdownNavbar.razor">
        <div>
            <AElemental.Documentation.Samples.Navbar.Examples.DropdownNavbar />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/BrandedNavbar.razor">
        <div>
            <AElemental.Documentation.Samples.Navbar.Examples.BrandedNavbar />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/ResponsiveNavbar.razor">
        <div style="max-width: 600px;">
            <AElemental.Documentation.Samples.Navbar.Examples.ResponsiveNavbar />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/RightItems.razor">
        <div>
            <AElemental.Documentation.Samples.Navbar.Examples.RightItems />
        </div>
    </DemoSection>
    <DemoSection Path="./Samples/Navbar/Examples/CustomRender.razor">
        <div>
            <AElemental.Documentation.Samples.Navbar.Examples.CustomRender />
        </div>
    </DemoSection>
</AeFlex>
