@use 'example-theme-override-button.scss' as test-button; // custom button map
@use 'Styles/theme'; // elemental theme

$overrides: (
  'button': test-button.$newButtonOptions,
);

@include theme.custom($overrides);
