@*
  Copyright (c) 2020 Apption Corporation

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Title: Basic Tree View
  Description: Basic example of a tree view
*@
<div>
  <AeTreeView T="string" Roots="Roots" FetchChildren="GetChildren" RenderIcon="RenderIcon" RenderNode="RenderNode"/>
</div>


@code {
    public List<string> Roots = new List<string>(new string[] { "server1", "server2", "server3" });

    public List<string> GetChildren(string root)
    {
        var returnList = new List<string>();
        var objectType = "";
        if (root.Contains("server"))
            objectType = "database";
        else if (root.Contains("database"))
            objectType = "table";
        else if (root.Contains("table"))
            objectType = "field";
        else if (root.Contains("field"))
            return returnList;
        for (int i=1; i<=3; i++)
        {
            returnList.Add(objectType + i);
        }
        return returnList;
    }

    public string RenderNode(string root){
        return root;
    }

    public string RenderIcon(string root){
        if (root.Contains("server"))
            return "server";
        else if (root.Contains("database"))
            return "database-2";
        else if (root.Contains("table"))
            return "table";
        return "hashtag";
    }
}